name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  go-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: server/go.mod

      - name: Go test
        working-directory: server
        run: go test ./...

      - name: Go vet
        working-directory: server
        run: go vet ./...
